# Copia este archivo a .env y ajusta los valores

# --- PostgreSQL ---
PGHOST=172.18.0.2
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=wetube

# --- Servidor ---
PORT=4000
NODE_ENV=production

# --- Seguridad ---
JWT_SECRET=change-this-super-secret-value
